In [2]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

# Mengatur opsi tampilan pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [3]:
# Koneksi ke MongoDB (ubah parameter connection sesuai kebutuhan Anda)
client = MongoClient("mongodb://localhost:27017/")
db = client.dskola

# Fungsi untuk mengubah cursor MongoDB menjadi DataFrame pandas
def cursor_to_dataframe(cursor):
    return pd.DataFrame(list(cursor))

In [4]:
# Task 1: Temukan semua buku yang ditulis oleh "Author 5" yang telah dipinjam oleh pengguna tetapi belum dikembalikan
task_1_result = db.books.find({
    "author": "Author 5",
    "borrowed_by.return_date": None
})
task_1_df = cursor_to_dataframe(task_1_result)
print("Task 1 Results:")
display(task_1_df)

Task 1 Results:

,_id,title,author,genre,published_year,copies_available,borrowed_by
0,667d820f5653dbe2eb5f0e49,Book Title 4,Author 5,Fiction,1954,81,"[{'user_id': 667d820f5653dbe2eb5f0e48, 'borrowed_date': 2024-01-23 00:00:00, 'return_date': None}]"
1,667d820f5653dbe2eb5f0e5d,Book Title 14,Author 5,Fantasy,1964,21,"[{'user_id': 667d820f5653dbe2eb5f0e5c, 'borrowed_date': 2024-08-29 00:00:00, 'return_date': None}]"
2,667d820f5653dbe2eb5f0e71,Book Title 24,Author 5,Dystopian,1974,61,"[{'user_id': 667d820f5653dbe2eb5f0e70, 'borrowed_date': 2024-07-30 00:00:00, 'return_date': None}]"
3,667d820f5653dbe2eb5f0e85,Book Title 34,Author 5,Science Fiction,1984,11,"[{'user_id': 667d820f5653dbe2eb5f0e84, 'borrowed_date': 2024-03-09 00:00:00, 'return_date': None}]"
4,667d820f5653dbe2eb5f0e99,Book Title 44,Author 5,Adventure,1994,31,"[{'user_id': 667d820f5653dbe2eb5f0e98, 'borrowed_date': 2024-06-23 00:00:00, 'return_date': None}]"
5,667d820f5653dbe2eb5f0ead,Book Title 54,Author 5,Fantasy,2004,91,"[{'user_id': 667d820f5653dbe2eb5f0eac, 'borrowed_date': 2024-03-22 00:00:00, 'return_date': None}]"
6,667d820f5653dbe2eb5f0ec1,Book Title 64,Author 5,Fantasy,2014,21,"[{'user_id': 667d820f5653dbe2eb5f0ec0, 'borrowed_date': 2024-08-05 00:00:00, 'return_date': None}]"
7,667d820f5653dbe2eb5f0ed5,Book Title 74,Author 5,Fiction,1954,81,"[{'user_id': 667d820f5653dbe2eb5f0ed4, 'borrowed_date': 2024-09-11 00:00:00, 'return_date': None}]"
8,667d82e1e88a69f794fae848,Book Title 4,Author 5,Science Fiction,1954,81,"[{'user_id': 667d82e1e88a69f794fae847, 'borrowed_date': 2024-06-25 00:00:00, 'return_date': None}]"
9,667d82e1e88a69f794fae85c,Book Title 14,Author 5,Adventure,1964,21,"[{'user_id': 667d82e1e88a69f794fae85b, 'borrowed_date': 2024-02-23 00:00:00, 'return_date': None}]"
10,667d82e1e88a69f794fae870,Book Title 24,Author 5,Adventure,1974,41,"[{'user_id': 667d82e1e88a69f794fae86f, 'borrowed_date': 2024-07-26 00:00:00, 'return_date': None}]"
11,667d82e1e88a69f794fae884,Book Title 34,Author 5,Dystopian,1984,11,"[{'user_id': 667d82e1e88a69f794fae883, 'borrowed_date': 2024-06-19 00:00:00, 'return_date': None}]"
12,667d82e1e88a69f794fae898,Book Title 44,Author 5,Fantasy,1994,31,"[{'user_id': 667d82e1e88a69f794fae897, 'borrowed_date': 2024-05-01 00:00:00, 'return_date': None}]"
13,667d82e1e88a69f794fae8ac,Book Title 54,Author 5,Fantasy,2004,51,"[{'user_id': 667d82e1e88a69f794fae8ab, 'borrowed_date': 2024-11-11 00:00:00, 'return_date': None}]"
14,667d82e1e88a69f794fae8c0,Book Title 64,Author 5,Dystopian,2014,81,"[{'user_id': 667d82e1e88a69f794fae8bf, 'borrowed_date': 2024-10-19 00:00:00, 'return_date': None}]"
15,667d82e1e88a69f794fae8d4,Book Title 74,Author 5,Fantasy,1954,41,"[{'user_id': 667d82e1e88a69f794fae8d3, 'borrowed_date': 2024-06-08 00:00:00, 'return_date': None}]"
16,667d82e1e88a69f794fae8e8,Book Title 84,Author 5,Dystopian,1964,81,"[{'user_id': 667d82e1e88a69f794fae8e7, 'borrowed_date': 2024-10-06 00:00:00, 'return_date': None}]"
17,667d82e1e88a69f794fae8fc,Book Title 94,Author 5,Science Fiction,1974,71,"[{'user_id': 667d82e1e88a69f794fae8fb, 'borrowed_date': 2024-01-12 00:00:00, 'return_date': None}]"
18,667d82f3f8bed957dae4cb2e,Book Title 4,Author 5,Dystopian,1954,21,"[{'user_id': 667d82f3f8bed957dae4cb2d, 'borrowed_date': 2024-03-30 00:00:00, 'return_date': None}]"
19,667d82f3f8bed957dae4cb42,Book Title 14,Author 5,Science Fiction,1964,31,"[{'user_id': 667d82f3f8bed957dae4cb41, 'borrowed_date': 2024-04-11 00:00:00, 'return_date': None}]"
20,667d82f3f8bed957dae4cb56,Book Title 24,Author 5,Dystopian,1974,41,"[{'user_id': 667d82f3f8bed957dae4cb55, 'borrowed_date': 2024-02-27 00:00:00, 'return_date': None}]"
21,667d82f3f8bed957dae4cb6a,Book Title 34,Author 5,Science Fiction,1984,71,"[{'user_id': 667d82f3f8bed957dae4cb69, 'borrowed_date': 2024-01-16 00:00:00, 'return_date': None}]"
22,667d82f3f8bed957dae4cb7e,Book Title 44,Author 5,Science Fiction,1994,71,"[{'user_id': 667d82f3f8bed957dae4cb7d, 'borrowed_date': 2024-11-13 00:00:00, 'return_date': None}]"
23,667d82f3f8bed957dae4cb92,Book Title 54,Author 5,Fiction,2004,91,"[{'user_id': 667d82f3f8bed957dae4cb91, 'borrowed_date': 2024-12-10 00:00:00, 'return_date': None}]"
24,667d82f3f8bed957dae4cba6,Book Title 64,Author 5,Fiction,2014,61,"[{'user_id': 667d82f3f8bed957dae4cba5, 'borrowed_date': 2024-05-03 00:00:00, 'return_date': None}]"
25,667d82f3f8bed957dae4cbba,Book Title 74,Author 5,Dystopian,1954,61,"[{'user_id': 667d82f3f8bed957dae4cbb9, 'borrowed_date': 2024-05-27 00:00:00, 'return_date': None}]"
26,667d82f3f8bed957dae4cbce,Book Title 84,Author 5,Adventure,1964,31,"[{'user_id': 667d82f3f8bed957dae4cbcd, 'borrowed_date': 2024-09-03 00:00:00, 'return_date': None}]"
27,667d82f3f8bed957dae4cbe2,Book Title 94,Author 5,Adventure,1974,91,"[{'user_id': 667d82f3f8bed957dae4cbe1, 'borrowed_date': 2024-04-19 00:00:00, 'return_date': None}]"
28,667d843ce3feedcf48dec4d0,Book Title 4,Author 5,Fantasy,1954,21,"[{'user_id': 667d843ce3feedcf48dec4cf, 'borrowed_date': 2024-09-14 00:00:00, 'return_date': None}]"
29,667d843ce3feedcf48dec4e4,Book Title 14,Author 5,Dystopian,1964,91,"[{'user_id': 667d843ce3feedcf48dec4e3, 'borrowed_date': 2024-03-01 00:00:00, 'return_date': None}]"
30,667d843ce3feedcf48dec4f8,Book Title 24,Author 5,Dystopian,1974,41,"[{'user_id': 667d843ce3feedcf48dec4f7, 'borrowed_date': 2024-09-28 00:00:00, 'return_date': None}]"
31,667d843ce3feedcf48dec50c,Book Title 34,Author 5,Science Fiction,1984,71,"[{'user_id': 667d843ce3feedcf48dec50b, 'borrowed_date': 2024-04-17 00:00:00, 'return_date': None}]"
32,667d843ce3feedcf48dec520,Book Title 44,Author 5,Fantasy,1994,61,"[{'user_id': 667d843ce3feedcf48dec51f, 'borrowed_date': 2024-11-26 00:00:00, 'return_date': None}]"
33,667d843ce3feedcf48dec534,Book Title 54,Author 5,Adventure,2004,51,"[{'user_id': 667d843ce3feedcf48dec533, 'borrowed_date': 2024-04-26 00:00:00, 'return_date': None}]"
34,667d843ce3feedcf48dec548,Book Title 64,Author 5,Adventure,2014,91,"[{'user_id': 667d843ce3feedcf48dec547, 'borrowed_date': 2024-08-05 00:00:00, 'return_date': None}]"
35,667d843ce3feedcf48dec55c,Book Title 74,Author 5,Dystopian,1954,41,"[{'user_id': 667d843ce3feedcf48dec55b, 'borrowed_date': 2024-12-13 00:00:00, 'return_date': None}]"
36,667d843ce3feedcf48dec570,Book Title 84,Author 5,Science Fiction,1964,71,"[{'user_id': 667d843ce3feedcf48dec56f, 'borrowed_date': 2024-01-16 00:00:00, 'return_date': None}]"
37,667d843de3feedcf48dec584,Book Title 94,Author 5,Dystopian,1974,81,"[{'user_id': 667d843de3feedcf48dec583, 'borrowed_date': 2024-11-27 00:00:00, 'return_date': None}]"

In [5]:
# Task 2: Daftar semua buku yang diterbitkan sebelum tahun 1980 dan memiliki lebih dari 5 salinan yang tersedia
task_2_result = db.books.find({
    "published_year": { "$lt": 1980 },
    "copies_available": { "$gt": 5 }
})
task_2_df = cursor_to_dataframe(task_2_result)
print("\nTask 2 Results:")
display(task_2_df)

Task 2 Results:

,_id,title,author,genre,published_year,copies_available,borrowed_by
0,667d820e5653dbe2eb5f0e41,Book Title 0,Author 1,Adventure,1950,81,"[{'user_id': 667d820e5653dbe2eb5f0e40, 'borrowed_date': 2024-06-23 00:00:00, 'return_date': None}]"
1,667d820f5653dbe2eb5f0e43,Book Title 1,Author 2,Fantasy,1951,61,"[{'user_id': 667d820f5653dbe2eb5f0e42, 'borrowed_date': 2024-10-28 00:00:00, 'return_date': None}]"
2,667d820f5653dbe2eb5f0e45,Book Title 2,Author 3,Science Fiction,1952,41,"[{'user_id': 667d820f5653dbe2eb5f0e44, 'borrowed_date': 2024-06-01 00:00:00, 'return_date': None}]"
3,667d820f5653dbe2eb5f0e47,Book Title 3,Author 4,Dystopian,1953,91,"[{'user_id': 667d820f5653dbe2eb5f0e46, 'borrowed_date': 2024-11-16 00:00:00, 'return_date': None}]"
4,667d820f5653dbe2eb5f0e49,Book Title 4,Author 5,Fiction,1954,81,"[{'user_id': 667d820f5653dbe2eb5f0e48, 'borrowed_date': 2024-01-23 00:00:00, 'return_date': None}]"
5,667d820f5653dbe2eb5f0e4b,Book Title 5,Author 6,Fantasy,1955,61,"[{'user_id': 667d820f5653dbe2eb5f0e4a, 'borrowed_date': 2024-10-12 00:00:00, 'return_date': None}]"
6,667d820f5653dbe2eb5f0e4d,Book Title 6,Author 7,Science Fiction,1956,81,"[{'user_id': 667d820f5653dbe2eb5f0e4c, 'borrowed_date': 2024-10-09 00:00:00, 'return_date': None}]"
7,667d820f5653dbe2eb5f0e4f,Book Title 7,Author 8,Fantasy,1957,71,"[{'user_id': 667d820f5653dbe2eb5f0e4e, 'borrowed_date': 2024-02-02 00:00:00, 'return_date': None}]"
8,667d820f5653dbe2eb5f0e51,Book Title 8,Author 9,Adventure,1958,11,"[{'user_id': 667d820f5653dbe2eb5f0e50, 'borrowed_date': 2024-05-07 00:00:00, 'return_date': None}]"
9,667d820f5653dbe2eb5f0e53,Book Title 9,Author 10,Adventure,1959,11,"[{'user_id': 667d820f5653dbe2eb5f0e52, 'borrowed_date': 2024-11-15 00:00:00, 'return_date': None}]"
10,667d820f5653dbe2eb5f0e55,Book Title 10,Author 1,Adventure,1960,41,"[{'user_id': 667d820f5653dbe2eb5f0e54, 'borrowed_date': 2024-03-18 00:00:00, 'return_date': None}]"
11,667d820f5653dbe2eb5f0e57,Book Title 11,Author 2,Fiction,1961,41,"[{'user_id': 667d820f5653dbe2eb5f0e56, 'borrowed_date': 2024-06-18 00:00:00, 'return_date': None}]"
12,667d820f5653dbe2eb5f0e59,Book Title 12,Author 3,Fiction,1962,91,"[{'user_id': 667d820f5653dbe2eb5f0e58, 'borrowed_date': 2024-01-06 00:00:00, 'return_date': None}]"
13,667d820f5653dbe2eb5f0e5b,Book Title 13,Author 4,Science Fiction,1963,71,"[{'user_id': 667d820f5653dbe2eb5f0e5a, 'borrowed_date': 2024-03-10 00:00:00, 'return_date': None}]"
14,667d820f5653dbe2eb5f0e5d,Book Title 14,Author 5,Fantasy,1964,21,"[{'user_id': 667d820f5653dbe2eb5f0e5c, 'borrowed_date': 2024-08-29 00:00:00, 'return_date': None}]"
15,667d820f5653dbe2eb5f0e5f,Book Title 15,Author 6,Fantasy,1965,21,"[{'user_id': 667d820f5653dbe2eb5f0e5e, 'borrowed_date': 2024-03-29 00:00:00, 'return_date': None}]"
16,667d820f5653dbe2eb5f0e61,Book Title 16,Author 7,Dystopian,1966,31,"[{'user_id': 667d820f5653dbe2eb5f0e60, 'borrowed_date': 2024-04-25 00:00:00, 'return_date': None}]"
17,667d820f5653dbe2eb5f0e63,Book Title 17,Author 8,Science Fiction,1967,81,"[{'user_id': 667d820f5653dbe2eb5f0e62, 'borrowed_date': 2024-04-14 00:00:00, 'return_date': None}]"
18,667d820f5653dbe2eb5f0e65,Book Title 18,Author 9,Adventure,1968,31,"[{'user_id': 667d820f5653dbe2eb5f0e64, 'borrowed_date': 2024-03-25 00:00:00, 'return_date': None}]"
19,667d820f5653dbe2eb5f0e67,Book Title 19,Author 10,Dystopian,1969,91,"[{'user_id': 667d820f5653dbe2eb5f0e66, 'borrowed_date': 2024-08-20 00:00:00, 'return_date': None}]"
20,667d820f5653dbe2eb5f0e69,Book Title 20,Author 1,Dystopian,1970,61,"[{'user_id': 667d820f5653dbe2eb5f0e68, 'borrowed_date': 2024-06-15 00:00:00, 'return_date': None}]"
21,667d820f5653dbe2eb5f0e6b,Book Title 21,Author 2,Fantasy,1971,41,"[{'user_id': 667d820f5653dbe2eb5f0e6a, 'borrowed_date': 2024-07-15 00:00:00, 'return_date': None}]"
22,667d820f5653dbe2eb5f0e6d,Book Title 22,Author 3,Adventure,1972,81,"[{'user_id': 667d820f5653dbe2eb5f0e6c, 'borrowed_date': 2024-01-27 00:00:00, 'return_date': None}]"
23,667d820f5653dbe2eb5f0e6f,Book Title 23,Author 4,Fiction,1973,91,"[{'user_id': 667d820f5653dbe2eb5f0e6e, 'borrowed_date': 2024-01-13 00:00:00, 'return_date': None}]"
24,667d820f5653dbe2eb5f0e71,Book Title 24,Author 5,Dystopian,1974,61,"[{'user_id': 667d820f5653dbe2eb5f0e70, 'borrowed_date': 2024-07-30 00:00:00, 'return_date': None}]"
25,667d820f5653dbe2eb5f0e73,Book Title 25,Author 6,Fantasy,1975,31,"[{'user_id': 667d820f5653dbe2eb5f0e72, 'borrowed_date': 2024-05-14 00:00:00, 'return_date': None}]"
26,667d820f5653dbe2eb5f0e75,Book Title 26,Author 7,Fantasy,1976,81,"[{'user_id': 667d820f5653dbe2eb5f0e74, 'borrowed_date': 2024-12-02 00:00:00, 'return_date': None}]"
27,667d820f5653dbe2eb5f0e77,Book Title 27,Author 8,Fiction,1977,21,"[{'user_id': 667d820f5653dbe2eb5f0e76, 'borrowed_date': 2024-10-30 00:00:00, 'return_date': None}]"
28,667d820f5653dbe2eb5f0e79,Book Title 28,Author 9,Fantasy,1978,81,"[{'user_id': 667d820f5653dbe2eb5f0e78, 'borrowed_date': 2024-05-14 00:00:00, 'return_date': None}]"
29,667d820f5653dbe2eb5f0e7b,Book Title 29,Author 10,Fantasy,1979,81,"[{'user_id': 667d820f5653dbe2eb5f0e7a, 'borrowed_date': 2024-10-29 00:00:00, 'return_date': None}]"
30,667d820f5653dbe2eb5f0ecd,Book Title 70,Author 1,Science Fiction,1950,31,"[{'user_id': 667d820f5653dbe2eb5f0ecc, 'borrowed_date': 2024-07-26 00:00:00, 'return_date': None}]"
31,667d820f5653dbe2eb5f0ecf,Book Title 71,Author 2,Science Fiction,1951,61,"[{'user_id': 667d820f5653dbe2eb5f0ece, 'borrowed_date': 2024-07-16 00:00:00, 'return_date': None}]"
32,667d820f5653dbe2eb5f0ed1,Book Title 72,Author 3,Science Fiction,1952,41,"[{'user_id': 667d820f5653dbe2eb5f0ed0, 'borrowed_date': 2024-06-10 00:00:00, 'return_date': None}]"
33,667d820f5653dbe2eb5f0ed3,Book Title 73,Author 4,Fiction,1953,81,"[{'user_id': 667d820f5653dbe2eb5f0ed2, 'borrowed_date': 2024-03-03 00:00:00, 'return_date': None}]"
34,667d820f5653dbe2eb5f0ed5,Book Title 74,Author 5,Fiction,1954,81,"[{'user_id': 667d820f5653dbe2eb5f0ed4, 'borrowed_date': 2024-09-11 00:00:00, 'return_date': None}]"
35,667d820f5653dbe2eb5f0ed7,Book Title 75,Author 6,Fantasy,1955,91,"[{'user_id': 667d820f5653dbe2eb5f0ed6, 'borrowed_date': 2024-02-19 00:00:00, 'return_date': None}]"
36,667d82e1e88a69f794fae840,Book Title 0,Author 1,Fiction,1950,51,"[{'user_id': 667d82e1e88a69f794fae83f, 'borrowed_date': 2024-07-24 00:00:00, 'return_date': None}]"
37,667d82e1e88a69f794fae842,Book Title 1,Author 2,Science Fiction,1951,21,"[{'user_id': 667d82e1e88a69f794fae841, 'borrowed_date': 2024-07-17 00:00:00, 'return_date': None}]"
38,667d82e1e88a69f794fae844,Book Title 2,Author 3,Science Fiction,1952,21,"[{'user_id': 667d82e1e88a69f794fae843, 'borrowed_date': 2024-08-19 00:00:00, 'return_date': None}]"
39,667d82e1e88a69f794fae846,Book Title 3,Author 4,Fiction,1953,81,"[{'user_id': 667d82e1e88a69f794fae845, 'borrowed_date': 2024-06-05 00:00:00, 'return_date': None}]"
40,667d82e1e88a69f794fae848,Book Title 4,Author 5,Science Fiction,1954,81,"[{'user_id': 667d82e1e88a69f794fae847, 'borrowed_date': 2024-06-25 00:00:00, 'return_date': None}]"
41,667d82e1e88a69f794fae84a,Book Title 5,Author 6,Science Fiction,1955,31,"[{'user_id': 667d82e1e88a69f794fae849, 'borrowed_date': 2024-07-09 00:00:00, 'return_date': None}]"
42,667d82e1e88a69f794fae84c,Book Title 6,Author 7,Adventure,1956,11,"[{'user_id': 667d82e1e88a69f794fae84b, 'borrowed_date': 2024-08-10 00:00:00, 'return_date': None}]"
43,667d82e1e88a69f794fae84e,Book Title 7,Author 8,Science Fiction,1957,71,"[{'user_id': 667d82e1e88a69f794fae84d, 'borrowed_date': 2024-01-16 00:00:00, 'return_date': None}]"
44,667d82e1e88a69f794fae850,Book Title 8,Author 9,Fiction,1958,11,"[{'user_id': 667d82e1e88a69f794fae84f, 'borrowed_date': 2024-09-13 00:00:00, 'return_date': None}]"
45,667d82e1e88a69f794fae852,Book Title 9,Author 10,Fantasy,1959,11,"[{'user_id': 667d82e1e88a69f794fae851, 'borrowed_date': 2024-06-25 00:00:00, 'return_date': None}]"
46,667d82e1e88a69f794fae854,Book Title 10,Author 1,Dystopian,1960,91,"[{'user_id': 667d82e1e88a69f794fae853, 'borrowed_date': 2024-08-14 00:00:00, 'return_date': None}]"
47,667d82e1e88a69f794fae856,Book Title 11,Author 2,Adventure,1961,11,"[{'user_id': 667d82e1e88a69f794fae855, 'borrowed_date': 2024-07-06 00:00:00, 'return_date': None}]"
48,667d82e1e88a69f794fae858,Book Title 12,Author 3,Adventure,1962,11,"[{'user_id': 667d82e1e88a69f794fae857, 'borrowed_date': 2024-11-16 00:00:00, 'return_date': None}]"
49,667d82e1e88a69f794fae85a,Book Title 13,Author 4,Adventure,1963,51,"[{'user_id': 667d82e1e88a69f794fae859, 'borrowed_date': 2024-02-29 00:00:00, 'return_date': None}]"
50,667d82e1e88a69f794fae85c,Book Title 14,Author 5,Adventure,1964,21,"[{'user_id': 667d82e1e88a69f794fae85b, 'borrowed_date': 2024-02-23 00:00:00, 'return_date': None}]"
51,667d82e1e88a69f794fae85e,Book Title 15,Author 6,Adventure,1965,81,"[{'user_id': 667d82e1e88a69f794fae85d, 'borrowed_date': 2024-06-06 00:00:00, 'return_date': None}]"
52,667d82e1e88a69f794fae860,Book Title 16,Author 7,Fiction,1966,91,"[{'user_id': 667d82e1e88a69f794fae85f, 'borrowed_date': 2024-10-25 00:00:00, 'return_date': None}]"
53,667d82e1e88a69f794fae862,Book Title 17,Author 8,Fantasy,1967,81,"[{'user_id': 667d82e1e88a69f794fae861, 'borrowed_date': 2024-05-12 00:00:00, 'return_date': None}]"
54,667d82e1e88a69f794fae864,Book Title 18,Author 9,Fiction,1968,81,"[{'user_id': 667d82e1e88a69f794fae863, 'borrowed_date': 2024-02-07 00:00:00, 'return_date': None}]"
55,667d82e1e88a69f794fae866,Book Title 19,Author 10,Science Fiction,1969,81,"[{'user_id': 667d82e1e88a69f794fae865, 'borrowed_date': 2024-07-12 00:00:00, 'return_date': None}]"
56,667d82e1e88a69f794fae868,Book Title 20,Author 1,Fiction,1970,51,"[{'user_id': 667d82e1e88a69f794fae867, 'borrowed_date': 2024-12-17 00:00:00, 'return_date': None}]"
57,667d82e1e88a69f794fae86a,Book Title 21,Author 2,Dystopian,1971,91,"[{'user_id': 667d82e1e88a69f794fae869, 'borrowed_date': 2024-10-29 00:00:00, 'return_date': None}]"
58,667d82e1e88a69f794fae86c,Book Title 22,Author 3,Fantasy,1972,51,"[{'user_id': 667d82e1e88a69f794fae86b, 'borrowed_date': 2024-07-10 00:00:00, 'return_date': None}]"
59,667d82e1e88a69f794fae86e,Book Title 23,Author 4,Fantasy,1973,51,"[{'user_id': 667d82e1e88a69f794fae86d, 'borrowed_date': 2024-05-16 00:00:00, 'return_date': None}]"
60,667d82e1e88a69f794fae870,Book Title 24,Author 5,Adventure,1974,41,"[{'user_id': 667d82e1e88a69f794fae86f, 'borrowed_date': 2024-07-26 00:00:00, 'return_date': None}]"
61,667d82e1e88a69f794fae872,Book Title 25,Author 6,Science Fiction,1975,21,"[{'user_id': 667d82e1e88a69f794fae871, 'borrowed_date': 2024-05-23 00:00:00, 'return_date': None}]"
62,667d82e1e88a69f794fae874,Book Title 26,Author 7,Fiction,1976,11,"[{'user_id': 667d82e1e88a69f794fae873, 'borrowed_date': 2024-10-27 00:00:00, 'return_date': None}]"
63,667d82e1e88a69f794fae876,Book Title 27,Author 8,Dystopian,1977,51,"[{'user_id': 667d82e1e88a69f794fae875, 'borrowed_date': 2024-10-02 00:00:00, 'return_date': None}]"
64,667d82e1e88a69f794fae878,Book Title 28,Author 9,Dystopian,1978,41,"[{'user_id': 667d82e1e88a69f794fae877, 'borrowed_date': 2024-01-12 00:00:00, 'return_date': None}]"
65,667d82e1e88a69f794fae87a,Book Title 29,Author 10,Dystopian,1979,81,"[{'user_id': 667d82e1e88a69f794fae879, 'borrowed_date': 2024-07-29 00:00:00, 'return_date': None}]"
66,667d82e1e88a69f794fae8cc,Book Title 70,Author 1,Fantasy,1950,91,"[{'user_id': 667d82e1e88a69f794fae8cb, 'borrowed_date': 2024-12-11 00:00:00, 'return_date': None}]"
67,667d82e1e88a69f794fae8ce,Book Title 71,Author 2,Fantasy,1951,71,"[{'user_id': 667d82e1e88a69f794fae8cd, 'borrowed_date': 2024-11-04 00:00:00, 'return_date': None}]"
68,667d82e1e88a69f794fae8d0,Book Title 72,Author 3,Science Fiction,1952,51,"[{'user_id': 667d82e1e88a69f794fae8cf, 'borrowed_date': 2024-12-17 00:00:00, 'return_date': None}]"
69,667d82e1e88a69f794fae8d2,Book Title 73,Author 4,Fantasy,1953,91,"[{'user_id': 667d82e1e88a69f794fae8d1, 'borrowed_date': 2024-02-04 00:00:00, 'return_date': None}]"
70,667d82e1e88a69f794fae8d4,Book Title 74,Author 5,Fantasy,1954,41,"[{'user_id': 667d82e1e88a69f794fae8d3, 'borrowed_date': 2024-06-08 00:00:00, 'return_date': None}]"
71,667d82e1e88a69f794fae8d6,Book Title 75,Author 6,Fantasy,1955,81,"[{'user_id': 667d82e1e88a69f794fae8d5, 'borrowed_date': 2024-04-10 00:00:00, 'return_date': None}]"
72,667d82e1e88a69f794fae8d8,Book Title 76,Author 7,Dystopian,1956,31,"[{'user_id': 667d82e1e88a69f794fae8d7, 'borrowed_date': 2024-07-08 00:00:00, 'return_date': None}]"
73,667d82e1e88a69f794fae8da,Book Title 77,Author 8,Science Fiction,1957,61,"[{'user_id': 667d82e1e88a69f794fae8d9, 'borrowed_date': 2024-03-27 00:00:00, 'return_date': None}]"
74,667d82e1e88a69f794fae8dc,Book Title 78,Author 9,Adventure,1958,51,"[{'user_id': 667d82e1e88a69f794fae8db, 'borrowed_date': 2024-11-21 00:00:00, 'return_date': None}]"
75,667d82e1e88a69f794fae8de,Book Title 79,Author 10,Science Fiction,1959,21,"[{'user_id': 667d82e1e88a69f794fae8dd, 'borrowed_date': 2024-02-21 00:00:00, 'return_date': None}]"
76,667d82e1e88a69f794fae8e0,Book Title 80,Author 1,Adventure,1960,21,"[{'user_id': 667d82e1e88a69f794fae8df, 'borrowed_date': 2024-04-05 00:00:00, 'return_date': None}]"
77,667d82e1e88a69f794fae8e2,Book Title 81,Author 2,Fantasy,1961,91,"[{'user_id': 667d82e1e88a69f794fae8e1, 'borrowed_date': 2024-04-12 00:00:00, 'return_date': None}]"
78,667d82e1e88a69f794fae8e4,Book Title 82,Author 3,Fantasy,1962,21,"[{'user_id': 667d82e1e88a69f794fae8e3, 'borrowed_date': 2024-03-04 00:00:00, 'return_date': None}]"
79,667d82e1e88a69f794fae8e6,Book Title 83,Author 4,Fantasy,1963,51,"[{'user_id': 667d82e1e88a69f794fae8e5, 'borrowed_date': 2024-03-28 00:00:00, 'return_date': None}]"
80,667d82e1e88a69f794fae8e8,Book Title 84,Author 5,Dystopian,1964,81,"[{'user_id': 667d82e1e88a69f794fae8e7, 'borrowed_date': 2024-10-06 00:00:00, 'return_date': None}]"
81,667d82e1e88a69f794fae8ea,Book Title 85,Author 6,Dystopian,1965,21,"[{'user_id': 667d82e1e88a69f794fae8e9, 'borrowed_date': 2024-05-11 00:00:00, 'return_date': None}]"
82,667d82e1e88a69f794fae8ec,Book Title 86,Author 7,Fiction,1966,51,"[{'user_id': 667d82e1e88a69f794fae8eb, 'borrowed_date': 2024-10-03 00:00:00, 'return_date': None}]"
83,667d82e1e88a69f794fae8ee,Book Title 87,Author 8,Fiction,1967,51,"[{'user_id': 667d82e1e88a69f794fae8ed, 'borrowed_date': 2024-11-04 00:00:00, 'return_date': None}]"
84,667d82e1e88a69f794fae8f0,Book Title 88,Author 9,Adventure,1968,51,"[{'user_id': 667d82e1e88a69f794fae8ef, 'borrowed_date': 2024-04-26 00:00:00, 'return_date': None}]"
85,667d82e1e88a69f794fae8f2,Book Title 89,Author 10,Dystopian,1969,71,"[{'user_id': 667d82e1e88a69f794fae8f1, 'borrowed_date': 2024-12-11 00:00:00, 'return_date': None}]"
86,667d82e1e88a69f794fae8f4,Book Title 90,Author 1,Fiction,1970,61,"[{'user_id': 667d82e1e88a69f794fae8f3, 'borrowed_date': 2024-08-17 00:00:00, 'return_date': None}]"
87,667d82e1e88a69f794fae8f6,Book Title 91,Author 2,Science Fiction,1971,51,"[{'user_id': 667d82e1e88a69f794fae8f5, 'borrowed_date': 2024-07-08 00:00:00, 'return_date': None}]"
88,667d82e1e88a69f794fae8f8,Book Title 92,Author 3,Fantasy,1972,11,"[{'user_id': 667d82e1e88a69f794fae8f7, 'borrowed_date': 2024-04-06 00:00:00, 'return_date': None}]"
89,667d82e1e88a69f794fae8fa,Book Title 93,Author 4,Fiction,1973,91,"[{'user_id': 667d82e1e88a69f794fae8f9, 'borrowed_date': 2024-08-28 00:00:00, 'return_date': None}]"
90,667d82e1e88a69f794fae8fc,Book Title 94,Author 5,Science Fiction,1974,71,"[{'user_id': 667d82e1e88a69f794fae8fb, 'borrowed_date': 2024-01-12 00:00:00, 'return_date': None}]"
91,667d82e1e88a69f794fae8fe,Book Title 95,Author 6,Science Fiction,1975,71,"[{'user_id': 667d82e1e88a69f794fae8fd, 'borrowed_date': 2024-09-05 00:00:00, 'return_date': None}]"
92,667d82e1e88a69f794fae900,Book Title 96,Author 7,Fantasy,1976,71,"[{'user_id': 667d82e1e88a69f794fae8ff, 'borrowed_date': 2024-11-18 00:00:00, 'return_date': None}]"
93,667d82e1e88a69f794fae902,Book Title 97,Author 8,Adventure,1977,71,"[{'user_id': 667d82e1e88a69f794fae901, 'borrowed_date': 2024-06-25 00:00:00, 'return_date': None}]"
94,667d82e1e88a69f794fae904,Book Title 98,Author 9,Dystopian,1978,61,"[{'user_id': 667d82e1e88a69f794fae903, 'borrowed_date': 2024-11-06 00:00:00, 'return_date': None}]"
95,667d82e1e88a69f794fae906,Book Title 99,Author 10,Dystopian,1979,61,"[{'user_id': 667d82e1e88a69f794fae905, 'borrowed_date': 2024-09-21 00:00:00, 'return_date': None}]"
96,667d82f3f8bed957dae4cb26,Book Title 0,Author 1,Science Fiction,1950,51,"[{'user_id': 667d82f3f8bed957dae4cb25, 'borrowed_date': 2024-03-25 00:00:00, 'return_date': None}]"
97,667d82f3f8bed957dae4cb28,Book Title 1,Author 2,Fiction,1951,61,"[{'user_id': 667d82f3f8bed957dae4cb27, 'borrowed_date': 2024-12-11 00:00:00, 'return_date': None}]"
98,667d82f3f8bed957dae4cb2a,Book Title 2,Author 3,Science Fiction,1952,31,"[{'user_id': 667d82f3f8bed957dae4cb29, 'borrowed_date': 2024-09-09 00:00:00, 'return_date': None}]"
99,667d82f3f8bed957dae4cb2c,Book Title 3,Author 4,Fiction,1953,11,"[{'user_id': 667d82f3f8bed957dae4cb2b, 'borrowed_date': 2024-03-08 00:00:00, 'return_date': None}]"
100,667d82f3f8bed957dae4cb2e,Book Title 4,Author 5,Dystopian,1954,21,"[{'user_id': 667d82f3f8bed957dae4cb2d, 'borrowed_date': 2024-03-30 00:00:00, 'return_date': None}]"
101,667d82f3f8bed957dae4cb30,Book Title 5,Author 6,Fiction,1955,91,"[{'user_id': 667d82f3f8bed957dae4cb2f, 'borrowed_date': 2024-11-14 00:00:00, 'return_date': None}]"
102,667d82f3f8bed957dae4cb32,Book Title 6,Author 7,Fiction,1956,81,"[{'user_id': 667d82f3f8bed957dae4cb31, 'borrowed_date': 2024-05-12 00:00:00, 'return_date': None}]"
103,667d82f3f8bed957dae4cb34,Book Title 7,Author 8,Adventure,1957,61,"[{'user_id': 667d82f3f8bed957dae4cb33, 'borrowed_date': 2024-07-14 00:00:00, 'return_date': None}]"
104,667d82f3f8bed957dae4cb36,Book Title 8,Author 9,Dystopian,1958,21,"[{'user_id': 667d82f3f8bed957dae4cb35, 'borrowed_date': 2024-05-02 00:00:00, 'return_date': None}]"
105,667d82f3f8bed957dae4cb38,Book Title 9,Author 10,Dystopian,1959,61,"[{'user_id': 667d82f3f8bed957dae4cb37, 'borrowed_date': 2024-03-08 00:00:00, 'return_date': None}]"
106,667d82f3f8bed957dae4cb3a,Book Title 10,Author 1,Science Fiction,1960,21,"[{'user_id': 667d82f3f8bed957dae4cb39, 'borrowed_date': 2024-10-03 00:00:00, 'return_date': None}]"
107,667d82f3f8bed957dae4cb3c,Book Title 11,Author 2,Fiction,1961,71,"[{'user_id': 667d82f3f8bed957dae4cb3b, 'borrowed_date': 2024-05-25 00:00:00, 'return_date': None}]"
108,667d82f3f8bed957dae4cb3e,Book Title 12,Author 3,Fantasy,1962,51,"[{'user_id': 667d82f3f8bed957dae4cb3d, 'borrowed_date': 2024-11-05 00:00:00, 'return_date': None}]"
109,667d82f3f8bed957dae4cb40,Book Title 13,Author 4,Fiction,1963,11,"[{'user_id': 667d82f3f8bed957dae4cb3f, 'borrowed_date': 2024-03-06 00:00:00, 'return_date': None}]"
110,667d82f3f8bed957dae4cb42,Book Title 14,Author 5,Science Fiction,1964,31,"[{'user_id': 667d82f3f8bed957dae4cb41, 'borrowed_date': 2024-04-11 00:00:00, 'return_date': None}]"
111,667d82f3f8bed957dae4cb44,Book Title 15,Author 6,Adventure,1965,81,"[{'user_id': 667d82f3f8bed957dae4cb43, 'borrowed_date': 2024-08-03 00:00:00, 'return_date': None}]"
112,667d82f3f8bed957dae4cb46,Book Title 16,Author 7,Dystopian,1966,11,"[{'user_id': 667d82f3f8bed957dae4cb45, 'borrowed_date': 2024-02-02 00:00:00, 'return_date': None}]"
113,667d82f3f8bed957dae4cb48,Book Title 17,Author 8,Fiction,1967,11,"[{'user_id': 667d82f3f8bed957dae4cb47, 'borrowed_date': 2024-03-20 00:00:00, 'return_date': None}]"
114,667d82f3f8bed957dae4cb4a,Book Title 18,Author 9,Fantasy,1968,91,"[{'user_id': 667d82f3f8bed957dae4cb49, 'borrowed_date': 2024-01-22 00:00:00, 'return_date': None}]"
115,667d82f3f8bed957dae4cb4c,Book Title 19,Author 10,Dystopian,1969,11,"[{'user_id': 667d82f3f8bed957dae4cb4b, 'borrowed_date': 2024-11-17 00:00:00, 'return_date': None}]"
116,667d82f3f8bed957dae4cb4e,Book Title 20,Author 1,Science Fiction,1970,61,"[{'user_id': 667d82f3f8bed957dae4cb4d, 'borrowed_date': 2024-01-30 00:00:00, 'return_date': None}]"

In [6]:
# Task 3: Temukan 5 buku terbaru yang diterbitkan dalam genre "Fantasy"
task_3_result = db.books.find({ "genre": "Fantasy" }).sort("published_year", -1).limit(5)
task_3_df = cursor_to_dataframe(task_3_result)
print("\nTask 3 Results:")
display(task_3_df)

Task 3 Results:

,_id,title,author,genre,published_year,copies_available,borrowed_by
0,667d82f3f8bed957dae4cbb0,Book Title 69,Author 10,Fantasy,2019,61,"[{'user_id': 667d82f3f8bed957dae4cbaf, 'borrowed_date': 2024-10-03 00:00:00, 'return_date': None}]"
1,667d820f5653dbe2eb5f0ecb,Book Title 69,Author 10,Fantasy,2019,61,"[{'user_id': 667d820f5653dbe2eb5f0eca, 'borrowed_date': 2024-08-06 00:00:00, 'return_date': None}]"
2,667d843ce3feedcf48dec552,Book Title 69,Author 10,Fantasy,2019,21,"[{'user_id': 667d843ce3feedcf48dec551, 'borrowed_date': 2024-06-02 00:00:00, 'return_date': None}]"
3,667d82f3f8bed957dae4cbae,Book Title 68,Author 9,Fantasy,2018,61,"[{'user_id': 667d82f3f8bed957dae4cbad, 'borrowed_date': 2024-11-10 00:00:00, 'return_date': None}]"
4,667d820f5653dbe2eb5f0ec7,Book Title 67,Author 8,Fantasy,2017,21,"[{'user_id': 667d820f5653dbe2eb5f0ec6, 'borrowed_date': 2024-01-27 00:00:00, 'return_date': None}]"

In [7]:
# Task 4: Hitung jumlah buku yang tersedia untuk setiap genre
task_4_result = db.books.aggregate([
    { "$group": { "_id": "$genre", "total_copies": { "$sum": "$copies_available" } } }
])
task_4_df = cursor_to_dataframe(task_4_result)
print("\nTask 4 Results:")
display(task_4_df)

Task 4 Results:

               _id  total_copies
0        Adventure          3499
1  Science Fiction          3892
2          Fantasy          4126
3        Dystopian          4077
4          Fiction          4072

In [8]:
# Task 5: Temukan semua buku yang belum pernah dipinjam oleh pengguna manapun
task_5_result = db.books.find({ "borrowed_by": { "$eq": [] } })
task_5_df = cursor_to_dataframe(task_5_result)
print("\nTask 5 Results:")
display(task_5_df)

Task 5 Results:

Empty DataFrame
Columns: []
Index: []